* { box-sizing: border-box }

body {
    font-family: 'Roboto Mono', sans-serif;
  font-family: Roboto, sans-serif;
  line-height: 1.625;
  margin: 0;
  color: #111;
  background-color: #fff;
}

code, pre, samp, .mono {
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3,
h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: .5em;
}

h1, .h1,
.large {
  font-size: 2rem;
}

h2, .h2,
h3, .h3,
h4, .h4 {
  font-size: 1rem;
}

h5, .h5,
h6, .h6,
.small {
  font-size: .75rem;
}

p,
dl,
ol,
ul,
pre,
blockquote,
hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  border: 0;
  border-bottom: 1px solid;
}

.btn {
  font-family: inherit;
  font-size: .75rem;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  padding: .5rem .75rem;
  color: #fff;
  background-color: #08b;
  border: 0;
  border-radius: 2px;
}

.btn:hover {
  box-shadow: inset 0 0 0 999px rgba(0, 0, 128, .25);
}

.black { color: #111 }
.white { color: #fff }
.navy  { color: #047 }
.blue  { color: #08b }
.aqua  { color: #0be }
.red   { color: #f53 }

.bg-black { background-color: #111 }
.bg-white { background-color: #fff }

.suggestions-i{
  transition: all .2s ease-in-out;
}
.suggestions-i:hover { transform: scale(1.1); }

img.suggestions-i {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.polygon{
	position: absolute;
	right: 40%;
	max-width: 311px;
	width: 100%;
	opacity: 0.25;
	-webkit-animation: coolPolygon 7.5s linear infinite;
	animation: coolPolygon 7.5s linear infinite;
}

.circle {
	position: absolute;
	right: 40%;
	max-width: 292px;
	width: 100%;
	opacity: 1;
	-webkit-animation: coolCircle 7.5s linear infinite;
	animation: coolCircle 7.5s linear infinite;
}

@keyframes coolPolygon {
    0% {
        -webkit-transform: rotate3d(0, 0, 0) scale(1);
        transform: rotate3d(0, 0, 0) scale(1)
    }

    25% {
        -webkit-transform: rotate3d(-0.25, -0.5, -0.25, 90deg) scale(1);
        transform: rotate3d(-0.25, -0.5, -0.25, 90deg) scale(1)
    }

    50% {
        -webkit-transform: rotate3d(-0.5, -1, -0.5, 180deg) scale(1.5);
        transform: rotate3d(-0.5, -1, -0.5, 180deg) scale(1.5)
    }

    75% {
        -webkit-transform: rotate3d(-0.75, -1.5, -0.75, 270deg) scale(1);
        transform: rotate3d(-0.75, -1.5, -0.75, 270deg) scale(1)
    }

    100% {
        -webkit-transform: rotate3d(-1, -2, -1, 360deg) scale(1);
        transform: rotate3d(-1, -2, -1, 360deg) scale(1)
    }
}

@keyframes coolCircle {
    0% {
        -webkit-transform: rotate3d(0, 0, 0) scale(1);
        transform: rotate3d(0, 0, 0) scale(1)
    }

    25% {
        -webkit-transform: rotate3d(0.25, 0.5, 0.25, 90deg) scale(1);
        transform: rotate3d(0.25, 0.5, 0.25, 90deg) scale(1)
    }

    50% {
        -webkit-transform: rotate3d(0.5, 1, 0.5, 180deg) scale(1.5);
        transform: rotate3d(0.5, 1, 0.5, 180deg) scale(1.5)
    }

    75% {
        -webkit-transform: rotate3d(0.75, 1.5, 0.25, 270deg) scale(1);
        transform: rotate3d(0.75, 1.5, 0.25, 270deg) scale(1)
    }

    100% {
        -webkit-transform: rotate3d(1, 2, 1, 360deg) scale(1);
        transform: rotate3d(1, 2, 1, 360deg) scale(1)
    }
}
