body{
	font-family: "Courier New", Courier, monospace;
}

h1, h2, h3, h4, p, blockquote{
	font-family: "Courier New", Courier, monospace !important;
	
}

music{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.end-page {
	text-align: center;
}