{{ $featured_image := .Params.featured_image }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <div class="{{ .Site.Params.background_color_class | default "" }}">
    {{ partial "site-navigation.html" . }}
  </div>
  <div>
    <img src="{{ $featured_image }}" class="w-100">
  </div>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
