{{ $featured_image := .Params.featured_image }}
<article class="">
  <div class="db pv1 ph1 ph0-l no-underline">
    <div class="flex flex-column">
      {{ if .Params.featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <div class="pr3-ns mb2 mb0-ns w-100">
          <h2 class="mt3 f3 fw1 sans-serif mt0 lh-title color-inherit link black" style="font-weight:700;">
            <a href="{{.URL}}" class="color-inherit link mt2" style="font-weight:700;">
            {{ .Title }}
            </a>
          </h2>
          <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
            {{ .Summary }}
          </div>
        </div>
      {{ else }}
      <div class="blah w-100">
        <h2 class="f3 fw1 sans-serif mt0 lh-title">
          <a href="{{.URL}}" class="color-inherit link mt2" style="font-weight:700;">
            {{ .Title }}
            </a>
        </h2>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
        {{/* TODO: add author
        <p class="f6 mv0">By {{ .Author }}</p> */}}
      </div>
      {{ end }}
    </div>
  </div>
</article>
